/* body{
background-color: antiquewhite;
min-height: 100vh;
} */

.logo {
    height: 30px;
    will-change: filter;
    transition: filter 300ms;
}

.logoName{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.icon {
    font-size: 20px;
}

.header{
    display: flex ;
    margin-bottom: 10px;
    justify-content: flex-end;
}

.especialSpan{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.logout{
    margin-top: 480px;
    cursor: pointer;
}

.grid{
    display:flex ;
    align-items: center;
    justify-content: space-between;
}

.section{
    width: 10%;
    display: flex;
    flex-direction: column;
    height: 670px;
    /* para nao ultrapassar o sidebar */
    max-width: calc(100% - 250px); 
    overflow-x: auto;
    margin-top: 50px;
}

.sectionContent{
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 670px;
    /* para nao ultrapassar o sidebar */
    max-width: calc(100% - 250px); 
    overflow-x: auto;
    margin-top: 60px;
    border: 1px solid #2c4060;
    height: 930px;
}

.SidebarItemGroup{

    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #020617;
    position: fixed;
    padding: 20px;
    z-index: 1;
    height: 900px; /* o que ocupa na horizontal */
    width: 200px;
    border-radius: 8px;
    top: 100px;
}

.SidebarItemGroup a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.87);
        margin-bottom: 10px;
        gap: 10px;
        padding: 9px;
        border-radius: 5px;
        transition: background 0.2s;
        cursor: pointer;
}

.SidebarItemGroup a:hover{
    background-color: #2c4060;
}

.active{
    background-color: #2c4060;
}


.SidebarItemGroup p{
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-bottom: 50px;
}

.buttonShowProfile{
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #f8fafc; /* slate-50 */
    border-radius: 0.5rem;
    border: 1px solid transparent;
    transition: all 0.2s ease;
    cursor: pointer;
    position: fixed;
}