.container{
    padding: 20px;
    padding-top: 0px;
}

.name_page{
    font-size: 10px;
    text-align: left;
    color: #94a3b8;
    padding-top: 0px;
}

.grid{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}


.sectionContent{
    width: 75%;
    height: 670px;
    /* para nao ultrapassar o sidebar */
    max-width: calc(100% - 250px); 
    overflow-x: auto;
    height: 930px;
}


.containerGrid{
    margin-right: 20px;
    margin-left: 20px;
}


.card:hover{
    background-color: #6745c4b3;;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gridColum1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* editar a barra de scrool */
.section::-webkit-scrollbar{
    width: 12px;
}

.section::-webkit-scrollbar-track {
    background: #020617; 
    border-radius: 20px;       /* color of the tracking area */
}
  
.section::-webkit-scrollbar-thumb {
    background-color: #0f172a;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #020617;  /* creates padding around scroll thumb */
}

.content{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px ;
  overflow: hidden;
  border-radius: 0.5rem;
}

.thead th {
    padding: 0.75rem 0.80rem;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 500;
    background-color: rgb(148 163 184);
    color: #ffffff;
}

.tbody tr {
  background-color: #d5e0ef;
}

.row:hover {
  background-color: #cbd5e1;
  transition: background-color 0.2s;
}

.tbody td {
  padding: 10px;
  font-size:12px;
  color: #1d293f;
  white-space: nowrap;
  text-align: left;
}

.right {
  text-align: right;
  font-weight: 600;
}

.typeBadge {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.625rem;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 9999px;
}

.incomeBadge {
  background-color: #6db16d78;
  color: #2b8e51;
}

.expenseBadge {

  background-color: #ff736c92;
  color: #ab3e1c;
}


.tooltipWrapper {
  position: relative;
  text-align: center;
}

.tooltipTrigger {
  cursor: pointer;
  font-size: 1.25rem;
  color: #5a606c;
  font-size: 12px;
}

.gridLeft{
    overflow: hidden;
    border-radius: 0.5rem;
    width: 30%;
}

.gridright{
    max-width: 70%;
    overflow: hidden;
    width: 90%;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}