
.formHeader {
    width: 130px;
    padding: 8px 10px;
    margin-bottom: 16px;
    background: #f1c19f9c;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    outline: none;
    font-size: 12px;
}

.drop{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.drop select{
    width: 130px;
    padding: 8px 10px;
    margin-bottom: 16px;
    background: #f1c19f9c;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    outline: none;
    font-size: 12px;
}

.formInput{
    width: 250px;
    padding: 8px 10px;
    margin-bottom: 16px;
    background: #f1c19f9c;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #333;    
    outline: none;
}

.inputAccount{
    width: 269px;
    padding: 8px 10px;
    margin-bottom: 16px;
    background: #f1c19f9c;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #333;    
    outline: none;
}

.formInfoImportant{
    display: flex;
    flex-direction: row;
    gap: 8px
}


.dateInput{
    padding: 8px 10px;
    margin-bottom: 16px;
    background: #f1c19f9c;
    border: none;
    border-radius: 8px;
    color: #333;
    outline: none;
}

.dateInput:focus {
  background:#f1c19f9c;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}

.InputAmount{
    width:100px;
    padding: 8px 10px;
    margin-bottom: 16px;
    background: #f1c19f9c;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    outline: none;
}

.InputAmount::-webkit-outer-spin-button,
.InputAmount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  width: 20px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="25" viewBox="0 0 20 40"><polygon points="10,5 15,15 5,15" fill="%23ff6b35"/><polygon points="10,35 15,25 5,25" fill="%23ff6b35"/></svg>') no-repeat center;
  cursor: pointer;
}

.InputAmount::-webkit-outer-spin-button:hover,
.InputAmount::-webkit-inner-spin-button:hover {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="25" viewBox="0 0 20 40"><polygon points="10,5 15,15 5,15" fill="%23e55a2b"/><polygon points="10,35 15,25 5,25" fill="%23e55a2b"/></svg>') no-repeat center;
}

.dateInput::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(20%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(80%) contrast(100%);
} 

.formButton{
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    cursor: pointer;

    transition: border-color 0.25s;
    border: 1px var(--orange) solid;
    color: var(--orange);
}

.formButton:hover{
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #fff5ee9c;
    cursor: pointer;

    transition: border-color 0.25s;
    border: 1px var(--orange) solid;
    color: var(--orange);
}
