
.formHeader {
    width: 130px;
    padding: 8px 10px;
    margin-bottom: 16px;
    background: #94a3b8;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
    outline: none;
    font-size: 12px;
}


.drop{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.drop select{
    width: 130px;
    padding: 8px 10px;
    margin-bottom: 16px;
    background: #94a3b8;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #ffffff;
    outline: none;
    font-size: 12px;
}


.formInput{
    width: 250px;
    padding: 8px 10px;
    margin-bottom: 16px;
    background: #94a3b8;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: #ffffff;    
    outline: none;
}

.formInput::placeholder, .InputAmount::placeholder {
    color: white;
}

.inputAccount{
    width: 269px;
    padding: 8px 10px;
    margin-bottom: 16px;
    background: #94a3b8;
    border: none;
    border-radius: 8px;
    font-size: 14px;  
    outline: none;
}


.formInfoImportant{
    display: flex;
    flex-direction: row;
    gap: 8px
}

.dateInput{
    padding: 8px 10px;
    margin-bottom: 16px;
    background: #94a3b8;
    border: none;
    border-radius: 8px;
    color: white;
    outline: none;
}

.InputAmount{
    width:100px;
    padding: 8px 10px;
    margin-bottom: 16px;
    background: #94a3b8;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    outline: none;
}

.InputAmount::-webkit-outer-spin-button,
.InputAmount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  width: 20px;
  height: 40px;
  background: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='15' height='25' viewBox='0 0 20 40'>\
<polygon points='10,5 15,15 5,15' fill='%23ffffff'/>\
<polygon points='10,35 15,25 5,25' fill='%23ffffff'/>\
</svg>") no-repeat center;
  background-color: #94a3b8;
  cursor: pointer;
  border-radius: 4px;
}

.InputAmount::-webkit-outer-spin-button:hover,
.InputAmount::-webkit-inner-spin-button:hover {
  background: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='15' height='25' viewBox='0 0 20 40'>\
<polygon points='10,5 15,15 5,15' fill='%23ffffff'/>\
<polygon points='10,35 15,25 5,25' fill='%23ffffff'/>\
</svg>") no-repeat center;
  background-color: transparent; /* um tom mais escuro ao passar o rato */
}



.formButton{
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;

    transition: border-color 0.25s;
    border: 1px #94a3b8 solid;
    color: #94a3b8;
}

.formButton:hover{
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #94a3b8;
    cursor: pointer;

    transition: border-color 0.25s;
    border: 1px white solid;
    color: #ffffff;
}

.drop:focus, .drop select:focus, .formHeader:focus, .formInput:focus, .InputAmount:focus, .dateInput:focus{
    box-shadow: 0 0 0 1px white;
    color: white;
}
